<!-- views/pages/index.ejs -->

<html>

<head>
  <title>goto1134</title>
  <script src="https://kit.fontawesome.com/4c0d552f4f.js" crossorigin="anonymous"></script>
  <link rel="Stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="Stylesheet" type="text/css" href="/index.css">
  <style>
    @font-face {
      font-family: 'Jetbrains Mono';
      src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format ('embedded-opentype'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format ('woff2'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format ('woff'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format ('truetype');
      font-weight: normal;
      font-style: normal;
    }

    * {
      font-family: 'Jetbrains Mono';
      -webkit-font-feature-settings: "liga"on, "calt"on;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }

    .gotocontact i {
      font-size: 20px;
      margin-right: 10px;
    }

    a {
      color: black;
    }
  </style>
</head>

<body data-gr-c-s-loaded="true">
  <div class="container">
    <section class="header">
      <h2 class="title">Hi from <b><%= name %></b></h2>
    </section>
    <div class="row">
      <div class="six columns">
        <h6>Contacts:</h6>
        <div class="gotocontact">
          <a href="https://t.me/goto1134" target="_blank">
            <i class="fab fa-telegram"></i>
            <b>@goto1134</b>
          </a>
        </div>
        <div class="gotocontact">
          <a href="https://vk.com/goto1134" target="_blank">
            <i class="fab fa-vk"></i>
            <b>@goto1134</b>
          </a>
        </div>
        <div class="gotocontact"><a href="mailto:1134togo@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
            <b>1134togo@gmail.com</b>
          </a>
        </div>
      </div>
      <div class="six columns">
        <h6>Repositories:</h6>
        <div class="gotocontact">
          <a href="https://github.com/goto1134" target="_blank">
            <i class="fab fa-github"></i>
            <b>@goto1134</b>
          </a>
        </div>
        <div class="gotocontact">
          <a href="https://gitlab.com/goto1134" target="_blank">
            <i class="fab fa-gitlab"></i>
            <b>@goto1134</b>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>